<div
    class="dropdown"
    [ngClass]="[open ? 'opened' : '', sharedService.isDarkMode ? 'dark' : '']"
>
    <ng-content></ng-content>

    <div class="dropdown-content">
        <a
            *ngFor="let link of links"
            routerLink="{{ link.url }}"
            routerLinkActive="active"
            class="link"
            >{{ link.label }}</a
        >
        <app-fui-switch
            [checked]="isDarkMode"
            [value]="'Dark mode'"
            [classes]="'rounded '"
            (action)="toggleDarkMode()"
        ></app-fui-switch>
        <app-fui-switch
            [checked]="isSpeedAnswerActivated"
            [value]="'Réponses rapides'"
            [classes]="'rounded '"
            (action)="toggleSpeedAnswer()"
        ></app-fui-switch>
        <app-fui-switch
            [checked]="isSoundActivated"
            [value]="'Son'"
            [classes]="'rounded '"
            (action)="toggleSound()"
        ></app-fui-switch>
        <a class="link" href="{{ pollLink }}" target="_blank"
            >Donnez votre avis</a
        >
    </div>
</div>
