@font-face {
  font-family: "righteous";
  src: url("./Righteous-Regular.ttf") format("truetype");
}

p,
div,
h1,
h2,
h3,
span,
input,
button {
  font-family: "Comfortaa", cursive, Arial, Helvetica, sans-serif;
}
