.list-group-item {
    border-radius: 23px;
    margin-bottom: 5px;

    &.bot-msg {
        margin-right: 5%;
        background-color: #fdfdfd;;
    }

    &.user-msg {
        margin-left: 5%;
        background-color: #2012dc;
        color: #ffffff;
    }

    .message {
        font-size: 1em;
        font-style: italic;
        font-weight: 400;
        white-space: pre-wrap;
    }

    .timeform {
        text-align: right;
        width: 100%;

        i {
            margin-left: 20px;
        }

        .timestamp{
            font-size: 0.6em;
        }
    }

    .avatar{
        width: 50px;
        margin-right: 20px;
        border-radius: 50%;
    }
}
