.chatform {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3em;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;

  &.dark {
    background-color: #000000;
  }

  .msg-list {
    width: 100%;
  }

  .message-form {
    position: fixed;
    bottom: 0;
    background-color: #ffffff;
    width: 100%;
    max-width: 900px;
  }

  .bottom {
    visibility: hidden;
    height: 0;
  }
}
